body {
	padding: 0 0;
	margin: 0 0;
	background-color: whitesmoke;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
}
h3 {
	margin-top: 25px;
}
#main_logo {
	width: 600px;
}
#header_text {
	display: inline-block;
	vertical-align: middle;
	margin-left: -120px;
	color: #222;
	
}
#main_text {
	font-family: 'Bangers', sans-serif;	
	font-weight: 600;
	font-size: 4.5em;	
	margin-bottom: -15px;
}
#unoffcial {
	font-style: italic;
	font-size: 1.2em;
}

header {
	width: 100%;
	position: relative;
	text-align: center;
	background-color: #378de5;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
#container {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #ddd;
	height: 100%;
	padding: 20px;
}

.color_box {
	width: 100px;
	height: 20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#box_jap {
	background-color: #79bbff;
	border: 1px solid #378de5;
}
#box_eng {
	background-color: #15C897;
	border: 1px solid #12B487;
}

.sound_button {
	width: 300px;
	height: 40px;
	font-size: 18px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding-top: 6px;
	margin: 10px 10px 10px 0;
	text-align: center;
}
.sound_button:active {
	position:relative;
	top:1px;
}
.japanese_dub {
	-moz-box-shadow: 1px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 1px 4px 0px 0px #1564ad;
	box-shadow: 1px 4px 0px 0px #1564ad;
	background-color:#79bbff;
	border:1px solid #337bc4;
}
.japanese_dub:hover {
	background-color:#378de5;
}
.english_dub {
	-moz-box-shadow: 1px 4px 0px 0px #0e8c69;
	-webkit-box-shadow: 1px 4px 0px 0px #0e8c69;
	box-shadow: 1px 4px 0px 0px #0e8c69;
	background-color:#15C897;
	border:1px solid #0e8c69;
}
.english_dub:hover {
	background-color:#12B487;
}
